body{
    background-color: #ccc;
    margin: 0 0;
    box-sizing: border-box;
}

img{width: 100%;
    }

#main-nav{
    background-color: white;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 10px 30px;
    height: 50px;
}


#main-nav > div{
    display: flex;
    flex-flow: row nowrap;

}
