body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ddd;
  margin: 0 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

#main-nav {
  background-color: white;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  height: 50px;
}

.nav-items-left {
  display: flex;
  flex-flow: row nowrap;
}

.logo-margin {
  margin-left: 1.5vw;
}

.ytb-logo {
  width: 115px;
}

.nav-items-center > * {
  font-size: 1rem;
}

.nav-items-left > div > * {
  vertical-align: middle;
}

.nav-items-center {
  display: flex;
  flex-flow: row nowrap;
}

.search-box {
  width: 50vw;
  height: 4vh;
  padding: 0;
  margin: 0;
  border: 1px solid #eee;
}

.search-box[placeholder] {
  padding-left: 10px;
}

.btn-search {
  width: 6vw;
  height: 4.3vh;
  padding: 0;
  margin: 0;
  border: 1px solid #eee;
  background-color: #fff;
}

.nav-items-right {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.nav-items-right > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  width: 1.5vw;
  height: 1.5vw;
  margin: 0 0.75vw;
}

.nav-icons {
  color: #777;
}

.btn-signin {
  font-size: 0.75rem;
  color: white;
  background-color: #167ac6;
  height: 4vh;
  border: 1px #ccc solid;
  border-radius: 3px;
  padding: 5px;
}

/* Banner */

.banner {
  background: #fff;
  border: 2px #167ac6 solid;
  margin-top: 10px;
}

.banner > header {
  color: #fff;
  font-size: 14px;
  background-color: #167ac6;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.banner .lang-change {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  padding: 10px 14px;
}

.blue-links {
  text-decoration: none;
  color: #167ac6;
}

/* End Banner */

/* Main Content Section */

#main-content {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

div.col-1 {
  flex: 0 1 69%;
  margin-right: 10px;
}

.main-content-items {
  margin-bottom: 10px;
  background: #fff;
  font-size: 14px;
  padding: 15px;
}

.video-player {
  height: 480px;
}

#iframe {
  width: 100%;
  height: 100%;
}

/* Video section title */

section.main-content-items {
  font-size: 14px;
  padding: 15px;
}

.avatar {
  width: 60px;
  height: 60px;
  background-color: #689f39;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  margin-right: 10px;
}

.user-info {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  position: relative;
}

.user-info-left {
  display: flex;
  flex-flow: row nowrap;
}

.video-info header {
  margin-bottom: 8px;
  font-size: 24px;
}

.channel-info {
  position: relative;
  display: flex;
  flex-flow: column;
  height: 60px;
}

.subscription {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-flow: row nowrap;
}

.subscription input {
  width: 35px;
  text-align: center;
}

.subscription button {
  color: #fff;
  background-color: #f00;
  box-shadow: none;
  border: none;
  width: 100px;
}

.user-info .views {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #616161;
  font-size: 24px;
}

.socials {
  display: flex;
  justify-content: space-between;
}

div.socials:first-child {
  width: 20%;
}

.socials ul {
  display: flex;
  list-style-type: none;
  text-decoration: none;
}

.socials ul li {
  margin-right: 10px;
}

.social-items-links {
  text-decoration: none;
  color: #616161;
}

/* End of video title section */

/* Article */

.main-content-items h2 {
  margin-bottom: 10px;
  font-weight: bold;
}

.show-more {
  text-align: center;
}

.show-more a {
  text-decoration: none;
  color: #616161;
}

/* End of article */

/* comment section */

div.main-content-items {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}

.loader {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.loader img {
  width: 1.5rem;
}

/* end of comment section */

/* Aside section */

aside.col-2 {
  background: #fff;
  flex: 0 1 30%;
  padding: 15px;
}

aside.col-2 .side-video-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.toggle span {
  vertical-align: top;
  color: #777;
}

.toggle .btn-toggle {
  color: #167ac6;
  font-size: 1.5rem;
}

.thumbnails a {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}

.video-title {
  margin-bottom: 10px;
  margin-left: 10px;
}

.video-title h2 {
  color: black;
  margin-bottom: 10px;
  font-size: 18px;
}

.video-title p {
  color: #616161;
  font-size: 12px;
}

/* End Aside section */

/* End Main Content Section */

/* Page Footer */

.site-footer {
  background: #fff;
  padding: 15px 30px;
  margin-top: 80px;
  font-size: 0.75rem;
}

.site-footer ul {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 10px;
}

.site-footer hr {
  margin: 15px 0;
}

.site-footer ul li {
  margin-right: 20px;
}

.site-footer a {
  text-decoration: none;
  color: #222;
}

.site-footer select,
.siter-footer button {
  background-color: #fff;
  height: 25px;
  border: 1px solid #a3a3a3;
}

.footer-links-upper {
  font-weight: bold;
  font-size: 0.8rem;
}

/* End of page footer */
